<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icon_boxit"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_boxit"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.BoxIt"
        tools:targetApi="31" >
        <service
            android:name=".integracion.MyFirebaseMessagingService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <activity
            android:name=".presentacion.Caja"
            android:exported="false" />
        <activity
            android:name=".presentacion.Capsula"
            android:exported="false" />
        <activity
            android:name=".presentacion.Perfil"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".presentacion.CrearCapsulaForm"
            android:exported="false" />
        <activity
            android:name=".presentacion.VerTodo"
            android:exported="false" />
        <activity
            android:name=".presentacion.CrearCajaForm"
            android:exported="false" />
        <activity
            android:name=".presentacion.Crear"
            android:exported="false" />
        <activity android:name=".presentacion.Registro" />
        <activity
            android:name=".presentacion.LogIn"
            android:exported="true" />
        <activity
            android:name=".presentacion.MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".integracion.MyFirebaseMessagingService2"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".MyFirebaseInstanceIDService" >
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>